<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>This is the info page:</h1>
        <p>I buy groceries in Australia, and my favorite treat is eucalyptus leaves! Goodness me!</p>
    </body>
</html>